*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bee2e2;
}

.title{
    
    font-family: 'Courier New', Courier, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    height: 80px;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}

h1{
    align-content: center;
    margin: 0 auto;
    width: 470px;
}

.subtitle{
    font-size: 20px;
    width: 200px;
    margin: 10px;
}

.container{
    background-color: #d2e1ee;
    margin: 0 auto;
    width: 700px;
    height: 250px;
    text-align: center;
    padding:10px;
}

.list{
    margin: 40px;
    
}

.recipe{
    
    font-size: 20px;
    margin: 15px;
}

